/* YOUR CUSTOM STYLES */
.header {
  background-color: #006666;
  min-width: 100%;
  max-width: 100%;
  min-height: 10vh;
  max-height: 15vh;
  box-shadow: 1px 1px 1px 1px;
  margin-left: 2pt;
  margin-top: 2pt;
  margin-right: 2px;
  margin-bottom: 2pt;
}
#image-slides {
  max-width: 600px;
  height: auto;
}
.side {
  background-color: white;
  box-shadow: 1px 1px 1px 1px#006666;
  min-height: 100%;
  align-content: flex-start;
  margin-left: 2px;
  margin-bottom: 2px;
}

#home_page {
  background-color: white;
}
.font-purple {
  font-family: "Roboto", sans-serif;
  color: #006666;
}

.button-purple {
  background-color: #006666;
}
.navbar {
  background-color: white;
}
.font-snow {
  font-family: Roboto, sans-serif;
  color: snow;
  font-weight: 500;
}
.button-purple {
  font-family: Roboto, sans-serif;
  background-color: #006666;
  color: snow;
  font-weight: 500;
}
.golden-ratio-max {
  font-size: 30px;
}
.golden-ratio-min {
  font-size: 18.75px;
}
#admin_login {
  border: #006666;
  border-radius: 2px;
  border: 2px 2-x 2px 2px;
  background-color: #006666;
}
.footer {
  background-color: #006666;
  box-shadow: 1px 1px 1px 1px white;
  margin-top: 2px;
  max-height: 50px;
  min-height: 20px;
}
.element{
  background-color: indianred;
  width:100%;
  height:3px;
}
